
.quicksand-bold {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
}

/* shared styles */
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
.btn-primary{
    background:#111;
    border-radius: 12px;
    width: 197px;
    padding: 10px;
    color: #FFF;
font-size: 20px;
font-weight: 700;
}

.primary-backgroud{
    background-image: url("../assets/bg.png");
}

.for-line{
    display: none;
}
/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.first-logo{
    margin-top: 20px;
}
.brand{
    color: var(--Black, #111);
font-family: Quicksand;
font-size: 32px;
font-weight: 700;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.nav-links li{
    list-style: none;
    margin-right: 32px;
}
.nav-item{
    font-size: 20px;
    font-weight: 700;
}

.navbar-btn{
    background: #FEA301;
    border-radius: 12px;
    width: 197px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
}
.icon{
    display: none;
}

/* banner related styles */
.banner{
    justify-content: space-between;
    gap: 50px;
}
.banner-content{
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 56px;
    margin-top: 90px;
}
.text-primary{
    color: #FEA301;
    font-size: 56px;
    font-weight: 700;
}
.text-primary-two{
    color:#01ACFD;
    font-size: 56px;
    font-weight: 700;
}
.banner-description{
    color:#111;
    font-size: 20px;
    font-weight: 400;
}

.banner-img{
    width: 100%;
}


/* card-container start here */

.card-container{
      justify-content: space-between;
      text-align: center;
      /* width: 100%; */
      gap: 20px;
}

.card-title{
    color: #000;
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    margin-top: 60px;
}
.card-section p{
    color: #808080;
text-align: center;
/* font-family: Raleway; */
font-size: 15.091px;
font-weight: 500;
width: 286.259px;
height: 74.512px;
flex-direction: column;
justify-content: center;
}
.card-one{
    padding: 50px 40px;
    border-radius: 18.864px;
    border: 0.943px solid #DEF5FF;
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
.card-two{
    padding: 50px 40px;
    border-radius: 18.864px;
border: 0.943px solid #FFF4DC;
background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
.card-three{
    border-radius: 18.864px;
border: 0.943px solid #F2E8FF;
background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
padding: 50px 40px;
}
.card-one-button{
    color: #64C8FF;
    font-size: 15px;
    font-weight: 700;
    border: none;
}
.card-two-button{
    color: #F0AA00;
font-size: 15px;
font-weight: 700;
border: none;
}
.card-three-button{
    color: #8700FF;
font-size: 15.091px;
font-weight: 700;
border: none;
}
.angel{  
justify-content: center;
display: flex;
}
.angel > div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    background: orange;
    height: 40px;
    width: 40px;
    margin-top: 30px;
}

/* .card img{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
} */

/* .card button{
    cursor:pointer;
} */


/* our stories section here */
.our-story-section{
    background: linear-gradient(0deg, rgba(191, 126, 13, 0.3) 0%, rgba(208, 6, 6, 0.3) 100%) ,url(../assets/bg.png);
}
.our-story-title{
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 57.5px; /* 125% */
}

.story-container{
    gap: 20px;
    margin-top: 60px;
    margin-bottom: 80px;
}
.card-main img{
    border-radius: 16px 16px 0px 0px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat, #D9D9D9;
}
.card-main-contect{
    border-radius: 16px;
background: #FFF;
padding: 38px;
}
.card-main-contect p{
    display: flex;
width: 433.057px;
height: 75.736px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
    color: #666;
font-family: Raleway;
font-size: 15.339px;
font-style: normal;
font-weight: 500;
line-height: 28.761px; /* 187.5% */
}
.card-main button{
    border-radius: 48px;
background: #3CD8E8;
display: flex;
width: 174.51px;
height: 47.934px;
padding: 14.38px 18.876px 15.339px 19.174px;
justify-content: center;
align-items: center;
display: flex;
color: #FFF;
font-family: Raleway;
font-size: 15.339px;
border: none;
position: relative;
left: 20px;
top: -20px;
}
.four-container{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 19px;
    
}
.four-container p{
    align-items: center;
    /* background-image: url("../assets/bg.png"); */
}
.four-container img{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
background: url(<path-to-image>) lightgray 50% / cover no-repeat, #FFF;
}
.one{
    
}
.one button{
    background: #95B226;
    border-radius: 48px;
    position: relative;
    left: 40px;
    top: -22px;
    color: #FFF;
/* font-family: Raleway; */
font-size: 15.339px;
font-weight: 500;
/* text-transform: capitalize; */
border: none;
display: flex;
width: 179.437px;
height: 38.347px;
padding: 9.587px 18.873px 10.546px 19.174px;
justify-content: center;
align-items: center;

}
.two button{
background: #5D58F0;
    border-radius: 48px;
    position: relative;
    left: 40px;
    top: -25px;
    color: #FFF;
/* font-family: Raleway; */
font-size: 15.339px;
font-weight: 500;
/* text-transform: capitalize; */
border: none;
display: flex;
width: 179.437px;
height: 38.347px;
padding: 9.587px 18.873px 10.546px 19.174px;
justify-content: center;
align-items: center;
}
.three button{
    background: #95B226;
    border-radius: 48px;
    position: relative;
    left: 40px;
    top: -25px;
    color: #FFF;
/* font-family: Raleway; */
font-size: 15.339px;
font-weight: 500;
/* text-transform: capitalize; */
display: flex;
width: 179.437px;
height: 38.347px;
padding: 9.587px 18.873px 10.546px 19.174px;
justify-content: center;
align-items: center;
border: none;
}
.four button{
    border-radius: 47.934px;
background: #95B226;
display: flex;
width: 127.438px;
height: 38.347px;
padding: 9.587px 18.844px 10.546px 19.174px;
position: relative;
left: 50px;
top: -20px;
border: none;
color: #FFF;
font-family: Raleway;
font-size: 15.339px;
font-weight: 500;
}

.r-button{
    text-align: center;
}

.view{
    position: relative;
    /* margin-left: 450px; */
    justify-content: center;
    margin-bottom: 60px;
    background:#111;
    border-radius: 12px;
    width: 197px;
    padding: 10px;
    color: #FFF;
font-size: 20px;
font-weight: 700;
} 

/* last section starts here */
.last-section{
    background: #01ACFD;
    color: #FFF;
    justify-content: space-between;
    padding: 5rem;
}
.for-start{
    margin-left: -40px;
}
.about-item{
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.about-school li{
    list-style: none;
}



/* responsive for mobile device */
@media screen and (max-width: 576px) {
  .nav-links{
    display: none;
  }
  .navbar-btn{
    display: none;
  }
  .icon{
    display: inline;
}
.for-line{
    display: inline;
}
  .banner{
    flex-direction: column-reverse;
  }
  .banner-title{
   text-align: center;
    margin-top: -40px;
  }
  .banner-content{
    align-items: center;
    /* margin-left: 20px;
    margin-top: 20px; */
  }
  .banner-description{
    text-align: center;
  }
  .banner-img{
   flex-direction: column-reverse;
  }
  .card-main{
    display: none;
  }
  .r-button{
    /* display: inline-block; */
    text-align: center;
    /* margin: auto; */
  }
    .last-section, .card-section{
    flex-direction: column;
  }
  .card-container{
     flex-direction: column;
  }
  .angel{
    display: none;
  }
  .card-one p{
    margin-left: 60px;
  }

}